.ant-form{
    margin-top: 9.25rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ant-form .ant-form-item:not(:nth-child(1n+4)){
    margin-bottom: 2.5rem;
}

.ant-form .ant-form-item:nth-child(1n+4){
    margin-bottom: 6.25rem;
}

.ant-form .ant-upload,
.ant-form .ant-input{
    width: 1000px;
    background: #F6F5F4;
    border-radius: 15px;
}

.ant-form .ant-upload{
    height: 380px;
}

.ant-form input.ant-input{
    height: 70px;
    padding-left: 2.5rem;
}

.ant-form input.ant-input::placeholder,
.ant-form textarea.ant-input::placeholder{
    color: #666666;
}

span.anticon svg{
    width: 32px!important;
    height: 32px!important;
}

span.anticon svg path{
    fill: none !important
}

.ant-form textarea.ant-input{
    max-width: 1000px;
    height: 280px;
    padding: 1.5rem;    
}

.ant-form #url.ant-input{
    padding: 1.5rem;
}

.ant-form .ant-btn{
    width: 326px;
    height: 44px;
    background: #EFC81A;
    border-radius: 6px;
}

.ant-form .ant-btn span{
    color: #fff;
}