.navbar {
  margin: 0;
}

.navbar-text {
  margin-right: 100px;
}

.nav-menu{
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 23px !important;
    color: #2E266F !important;
}

.navbar-text a:focus {
  text-decoration: underline;
}
