.navbar{
    margin: 0;
    padding-top: 4rem!important;
}

.navbar-text{
    margin-right: 100px;
}

.nav-menu{
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 23px !important;
    color: #2E266F !important;
}

.navbar-text a:focus{
    text-decoration: underline;
}

/* @media screen and (max-width: 520px) {
    .navbar-menu{
        justify-content: center;
    }
} */



