.navbar {
  margin: 0;
}

.navbar-text {
  margin-right: 100px;
}

.navbar-text a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #2e266f !important;
}

.navbar-text a:focus {
  text-decoration: underline;
}
